<article ng-app="customers" ng-controller="CustomerSearchController">
<header>
  <h1 class="h2">Customer Search</h1>
</header>
<section class="search-form">
  <form>
    <label for="keywords" class="sr-only">Keywords</label>
    <input type="text"
           name="keywords"
           class="form-control input-lg"
           placeholder="First Name, Last Name, or Email Address"
           ng-change="search(keywords)"
           ng-model="keywords">
  </form>
  <h1 class="searchedFor" ng-if="searchedFor">
    <small>Searched for: </small> {{searchedFor}}
  </h1>
</section>
<section class="search-results">
  <header>
    <h1 class="h3">Results</h1>
  </header>
  <%= render partial: 'pager', locals: {keywords: @keywords, page: @page} %>
  <ol class="list-group">
      <li class="list-group-item clearfix" ng-repeat="customer in customers">
        <h3 class="pull-right">
          <small class="text-uppercase">Joined</small>
          {{ customer.created_at | date }}
        </h3>
        <h2 class="h3">
          {{ customer.first_name }} {{ customer.last_name }}
          <small>{{ customer.username }}</small>
        </h2>
        <h4>{{ customer.email }}</h4>
      </li>
  </ol>
  <%= render partial: 'pager', locals: {keywords: @keywords, page: @page} %>
</section>
</article>